{% extends "base.html" %}

{% block content %}

<div>
<h1>{{ object.title }}</h1>
<p>Date: {{ object.start_date }} - {{ object.end_date }}</p>
<p>Time: {{ object.start_time }} - {{ object.end_time }}</p>
<p>Open entries: {{ object.open_entries }}</p>

{% for entry in object.entry_set.all %}
{{ entry.lottery }} - {{ entry.user }} - {{ entry.winner }}
{% endfor %}

{% if lottery_entered %}
<p>You already joined this lottery</p>
{% else %}
<form method="post" action=".">
{% csrf_token %}
<input type="hidden" name="lid" value="{{ object.id }}">
<input type="Submit" value="Enter lottery" />
</form>
{% endif %}
</div>
{% endblock %}